body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 70px;
  text-align: center;
  border-bottom: 1px Solid #D3D3D3;
  border-top: 4px Solid rosybrown;
}

.button {
  background: transparent;
  height: 75px;
  width: 55px;
  border: none;
  color: #696969;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  position:relative;
  top:-40px;
  right: 500px;
  margin: -20px;
}

.button:hover {
  background-color: rosybrown;
  transition: 0.7s;
}