body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 70px;
  text-align: center;
  border-bottom: 1px Solid #D3D3D3;
  border-top: 4px Solid rosybrown;
}

.button {
  background: transparent;
  height: 75px;
  width: 55px;
  position:fixed;
  top:0;
  left:0;
  text-align: center;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px Solid #D3D3D3;
  width: 25%;
  height: 800px;
  margin-top: 75px;
}

.sidebar button {
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
  margin-top: 1px;
  margin-left: 225px;

}

.sidebar button:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

.subheader {
  display: flex;
  padding: 15px;
  border-bottom: 4px Solid rosybrown;
}

.sidebarnote {
  cursor: pointer;
  padding: 10px;
}

.sidebarnote:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

.notetitle {
  font-size: large;
  display: flex;
  justify-content: space-between;

}

.sidebarnote small {
  font-size: 10px;
  color: grey;
}

.preview {
  font-size: 14px;
  margin-top: 5px;
}
