body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*remove scrollbars*/
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/*header designing*/
.header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 70px;
  text-align: center;
  border-bottom: 1px Solid #D3D3D3;
  border-top: 4px Solid rosybrown;
  background-color: white;
}

/*toggle button in header*/
.button {
  background: transparent;
  height: 75px;
  width: 55px;
  position:fixed;
  top:0;
  left:0;
  text-align: center;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

/*change hover settings for header toggle button*/
.button:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

/*sidebar designing*/
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px Solid #D3D3D3;
  width: 25%;
  height: 800px;
  margin-top: 75px;
}

/*adds space between 'Notes' and '+' in the sidebar header*/
.spacer {
  flex: 1;
}

/*+ button designing*/
.sidebar button {
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
  margin-top: 1px;

}

/*+ button hover settings*/
.sidebar button:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

/*sidebar header*/
.subheader {
  display: flex;
  padding: 15px;
  border-bottom: 4px Solid rosybrown;
}

/*each note in the sidebar*/
.sidebarnote {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px Solid #D3D3D3;
}

/*hover settings for each note*/
.sidebarnote:hover {
  background-color: rosybrown;
  color: white;
  transition: 0.3s;
}

/*title of each note*/
.notetitle {
  font-size: large;
  display: flex;
  justify-content: space-between;

}

/*last modified text*/
.sidebarnote small {
  font-size: 10px;
  color: grey;
}

/*preview of the text in each note in the sidebar*/
.preview {
  font-size: 14px;
  margin-top: 5px;
}

.Note {
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
 
}
